# Ignore node_modules in both frontend and backend
node_modules/

# Ignore IDE configuration files (e.g., .idea for IntelliJ-based IDEs, .vscode for Visual Studio Code)
.idea/
.vscode/

# Ignore system files
.DS_Store

# Optionally ignore build directories if you have them
build/
dist/
